* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0.625rem;
}

.card {
  background-color: rgb(255, 249, 249);
  font-size: 0.75rem;
  color: rgb(68, 68, 68);
  margin: 0.625rem;
  padding: 1.875rem;
  transition: 1s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.1);
}

.content {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  margin-top: 1.25rem;
}

p {
  font-size: bold;
}

img {
  border-radius: 0.3125rem;
  height: 12.5rem;
  width: 18.75rem;
}
